.contributions-container{
    border-radius: 12px;
    border: 2px solid var(--primary);

    padding: 1rem;
    margin: 4rem 1rem;
    min-height: 500px;
}

.heading{
    background : linear-gradient(var(--primary), var(--secondary));
    text-decoration: underline;
    text-decoration-color: var(--primary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;

    font-size: 3rem;
}

.table, th, td{
    border: 1px solid var(--primary);
    border-collapse: collapse;
    text-align: left;

    padding: 0.5rem;
}

.table{
    width: 100%;
    padding: 1rem;
}
